.dockerignore
.env
.env.backup
*/.git
.git
.gitignore
*/.vs
.vs
*/.vscode
.vscode
docker-compose.yml
docker-compose.*.yml
*/bin
bin
*/obj
obj
*/node_modules
node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/games
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/app/public/games
/storage/db.sqlite
