$fancy-bg: linear-gradient(176deg, rgba(102,86,252,1) 0%, rgba(102,86,252,1) 52%, rgba(147,86,252,1) 100%);
$fancy-bg-hover: linear-gradient(105deg, rgba(102,86,252,1) 0%, rgba(147,86,252,1) 52%, rgba(147,86,252,1) 100%);
$primary: #6656fc;

$body-background-color: #141414;
$body-size: 15px;

$family-sans-serif: "Poppins", "Lato", Geneva, Tahoma, sans-serif;
$family-secondary: "Comfortaa", "Lato", Geneva, Tahoma, sans-serif;
