@import 'variables';
@import '~bulma';

::selection {
    background-color: $primary;
    color: $white;
    border-radius: 3px;
}

* {
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: $black-bis;
    // border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: $black-ter;
    border-radius: 3px;
    // border-left: 4px solid $black-bis;
}

* * {
    position: relative;
    box-sizing: border-box;

    scrollbar-width: thin;
    scrollbar-color: $black-bis $grey-darker;
}

html {
    overflow-y: auto;
    height: 100%;
}

body {
    min-height: 100%;
}

#login-card {
    width: 100%;
    max-width: 500px;
    margin: 1em;
    border-radius: 0.25rem;
    box-shadow: 0 10px 50px rgba(0,0,0,0.5), 0 10px 20px rgba(0,0,0,0.8);
    border-top: 5px solid $grey-darker;
    pointer-events: all;

    .page-header {
        border-radius: 0;
        padding: 1em;
        font-size: 1.75em;
    }
}

.brand-title {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

.icon > svg {
    display: block;
}

.full-page-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

#welcome-hero {
    background: $black;
    height: 60vh;

    .hero-body {
        pointer-events: none;
    }

    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        display: block;
        margin: 0 auto;
    }
}

#particles-js {
    position: absolute;
    width: 100%;
    height: calc(100% - 56px);
}

#menu {
    .logo {
        display: block;
        width: 30px;
        height: 100%;
    }
}

#login-form {
    position: absolute;
    margin: 0 auto;
    width: 640px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container.container-small {
    max-width: 500px !important;
}

.platform-list {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
}

.platform-list .platform {
    flex: 0 0 33%;
    padding: 0.25em;

    .button {
        width: 100%;
        height: 200px;
    }

    .platform-logo {
        display: block;
        width: auto;
        height: 100%;
    }
}

.platform-logo {
    display: block;
    height: 100%;
    width: auto;
}

.feature-image-container {
    width: 100%;
    height: 250px;
    margin-bottom: 50px;
    overflow: hidden;
    position: absolute;
    opacity: 0.4;
    z-index: -1;

    .feature-image-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(20,20,20,0) 100%);
    }

    .feature-image {
        width: 100%;
        height: 100%;

        background-size: cover;
        background-position: center center;
        opacity: 0.8;

        filter: blur(7px);
        transform: scale(1.1);
    }
}

#particles-js {
}

.game-page {
    margin-top: 100px;

    &.button.is-primary:hover {
        background: $fancy-bg-hover;
        box-shadow: 0 5px 35px transparentize($primary, 0.6);
    }
}

.game-cover {
    border-radius: 4px;
    box-shadow: 3px 8px 30px rgba(0,0,0,0.1), 2px 5px 20px rgba(0,0,0,0.3);
    display: block;
    width: 100%;
    height: auto;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.game-cover-container {
    @media screen and (min-width: $tablet) {
        flex: 0 0 calc(100% * (1/4));
    }

    @media screen and (min-width: $desktop) {
        flex: 0 0 calc(100% * (1/6));
    }

    @media screen and (min-width: $widescreen) {
        flex: 0 0 calc(100% * (1/7));
    }

    @media screen and (min-width: $fullhd) {
        flex: 0 0 calc(100% * (1/8));
    }

    position: relative;
    flex: 0 0 calc(100% * (1/2));
    padding: 1em;

    .game-cover {
        z-index: 0;
        transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover {
        .game-cover {
            transform: scale(1.05);
        }
    }
}

.game-page .game-cover {
    margin-bottom: 0.5em;
}

.game-name {
    font-size: 2.5em;
    line-height: 1em;
    margin-bottom: 0.75em;
    padding: 0.25em 0.25em 0.2em 0.25em;
    border-bottom: 5px solid $primary;
    border-left: 30px solid $primary;
    font-family: $family-secondary;
    border-image: $fancy-bg 30;
}

.icon {
    width: 16px;
    height: 16px;
}

.navbar .navbar-item .navbar-dropdown {
    border-top: none;
    // background: $grey-darker;
    box-shadow: none;

    a:hover {
        background: $primary;
    }
}

.navbar .has-dropdown.is-hoverable:hover .navbar-link {
    // background: $grey-darker !important;
}

.navbar-menu a.navbar-item {
    &:hover {
        background: $fancy-bg;
    }
}

.has-icon-left {
    .icon {
        margin-right: 0.5em;
    }
}

.icon.is-smaller {
    width: 0.9em;
    height: 0.9em;
}

.page-header {
    font-family: $family-secondary;
    background: $grey-darker url('/images/pattern.png') repeat;
    color: $white;

    padding: 1.5em;
    font-size: 2.5em;
    border-radius: 0;
    box-shadow: 0 -2px 0 $grey-darker;
}

input.input {
    // border: 2px solid transparent;
    border-width: 2px;

    &:focus {
        box-shadow: none;
        outline: 0;
        border-color: $primary;
        box-shadow: 0 0 10px transparentize($primary, 0.7);
    }
}

.content h2 {
    // border-bottom: 2px solid $grey-dark;

    &:after {
        content: "";
        display: block;
        background: $grey-light;
        height: 2px;
        margin-top: 0.15em;
        border-radius: 100px;
    }
}

.game-cover-container .game-controls {
    position: absolute;
    bottom: 1.25em;
    right: 1.25em;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &> nav {
        flex: 0 0 auto;
    }

    &> main {
        flex: 1 1 0px;
    }

    &> footer {
        flex: 0 0 auto;
    }
}

.full-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.not-found-icon {
    display: block;
    width: 100%;
    max-width: 40px;
    margin: 0 auto;
    margin-bottom: 0.5em;
}

#admin {
    display: flex;
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    &> .sidebar {
        // background: $body-background-;
    }

    .link-list a {
        color: $white;
    }
}

.admin-page {
    padding: 4em;
    background: $background;
}

.link-list {
    a {
        display: flex;
        align-items: center;
        padding: 0.75em;
        margin: 0.25em;
        border-radius: 4px;

        .icon {
            margin-right: 0.5em;
        }

        &:hover {
            background: lighten($black-bis, 5%);
        }

        &.is-active {
            background: $primary;
        }
    }
}

.ui-toggle {
    color: transparentize($white, 0.2);
}

.ui-toggle-icon {
    background: $black;
    border-radius: 30000px;
    width: 30px;
    height: 30px;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, .9));
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        width: 18px;
        height: 18px;
    }
}

.ui-toggle-on {
    &.ui-toggle-like {
        color: $red;
    }
}

.content h2 {

}
