
$primary: #6656fc;
$fancy-bg: linear-gradient(176deg, rgba(102,86,252,1) 0%, rgba(102,86,252,1) 52%, rgba(147,86,252,1) 100%);
$fancy-bg-hover: linear-gradient(105deg, rgba(102,86,252,1) 0%, rgba(147,86,252,1) 52%, rgba(147,86,252,1) 100%);

$family-primary: "Lato", Geneva, Tahoma, sans-serif;
$header-font: "Comfortaa", "Lato", Geneva, Tahoma, sans-serif;

@import 'node_modules/bulma/bulma';

#welcome-hero {
    background: $black;
    height: 60vh;

    .hero-body {
        pointer-events: none;
    }

    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        display: block;
        margin: 0 auto;
    }

    #particles-js {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

* {
    position: relative;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 16px;
    background: $black-ter;
}

body {
    min-height: 100%;
    color: $white;
}

#app, main {
    position: static;
}

#menu {
    background: $black;
}

#login-form {
    position: absolute;
    margin: 0 auto;
    width: 640px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main {
    position:static;
}

.platform-list {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
}

.platform-list .platform {
    flex: 0 0 33%;
    padding: 0.25em;
}

.game-info {
    padding: 2em 5em;
    top: 175px;
}

.game-info-container {
    top: 50px;
    // background: $black;
    padding: 5em;
    border-radius: 10px 10px 0 0;
}

.platform-logo {
    display: block;
    height: 100%;
    width: auto;
}

.game-background-container {
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.game-header .button {
    margin-top: 1em;
    &:hover {
        background: $fancy-bg-hover;
        box-shadow: 0 5px 35px transparentize($primary, 0.6);
    }
}

.game-background {
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center center;
    opacity: 0.8;
    background-attachment: fixed;

    filter: blur(30px);
    transform: scale(1.1);

}

.game-cover {
    border-radius: 4px;
    box-shadow: 3px 8px 30px rgba(0,0,0,0.1), 2px 5px 20px rgba(0,0,0,0.3);
    display: block;
    width: 100%;
    height: auto;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 32px;
}

.game-cover-container {
    @media screen and (min-width: $tablet) {
        flex: 0 0 calc(100% * (1/4));
    }

    @media screen and (min-width: $desktop) {
        flex: 0 0 calc(100% * (1/6));
    }

    @media screen and (min-width: $widescreen) {
        flex: 0 0 calc(100% * (1/7));
    }

    @media screen and (min-width: $fullhd) {
        flex: 0 0 calc(100% * (1/8));
    }

    position: relative;
    flex: 0 0 calc(100% * (1/2));
    padding: 1em;

    .game-cover {
        z-index: 0;
        transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover {
        .game-cover {
            transform: scale(1.05);
        }
    }
}

.game-name {
    font-size: 2.5em;
    line-height: 1em;
    margin-bottom: 0.75em;
    padding: 0.25em 0.25em 0.2em 0.25em;
    border-bottom: 5px solid $primary;
    border-left: 30px solid $primary;
    font-family: $header-font;
    border-image: $fancy-bg 30;
}

.page-header {
    font-family: $header-font;
    background: $grey-darker url('/images/pattern.png') repeat;
    color: $white;

    padding: 1.5em;
    font-size: 2.5em;
}